.simple_alert {
	position: fixed;
	z-index: 100000000001;
	max-width: 500px;
	min-height: 50px;
	/* height: 50px; */
	left: 50%;
	top: 50%;
	margin-top: -25px;
	height:;
	vertical-align: center;
	display: block;
	border: 1px solid #d5d5d5;
	background: #f7f7f7;
	padding: 10px 16px;
	-moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	display: none;
}
.simple_alert .icon.error {
	width: 45px;
	height: 45px;
	background-position: 0px -41px;
}
.simple_alert .icon.warning {
	width: 45px;
	height: 45px;
	background-position: 0px 9px;
}
.simple_alert .icon.info {
	width: 45px;
	height: 45px;
	background-position: 0px -92px;
}
.simple_alert .icon.ok {
	width: 45px;
	height: 45px;
	background-position: 0px -144px;
}
.simple_alert .icon.loading {
	background: url(../img/loading.gif) no-repeat;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 8px 13px 0 0;
}
.simple_alert .icon {
	background: url(../img/alert.png) no-repeat;
	display: inline-block;
}
.simple_alert div {
	position: relative;
	/* height: 54px; */
	float: left;
}
.simple_alert .msg {
	max-width: 425px;
	-o-text-overflow: ellipsis;
	padding: 0px 0px 0px 0px;
	font-size: 14px;
	line-height: 50px;
	color: #606060;
	font-family: Arial, Helvetica, sans-serif;
}