body{margin:0;padding:0;overflow:hidden;}
.ui-layout{
	position: relative;
}
.ui-layout-head{height:80px;width:100%;border-bottom: 1px solid #ccc;position:absolute;top:0px}
.ui-layout-left{position:absolute;width:200px;border-right:1px solid #ccc;}
.ui-layout-separater{position:absolute;width:6px;border-right:1px solid #ccc;overflow:auto}
.ui-layout-right{position:absolute;overflow:auto}
.ui-layout-bottom{height:45px;width:100%;border-top: 1px solid #ccc;position:absolute;bottom:0px}
.ui-layout-left-title{font-size: 13px;
background: #f5f5f5;
line-height: 29px;
padding: 0px 8px;
border-bottom: 1px solid #ccc;
font-weight: bold;
margin-top: 1px;
position: relative;}
.ui-layout-left-op{display: inline-block;
position: absolute;
right: 3px;
top: 2px;
width: 24px;
height: 24px;
overflow: hidden;}
.ui-layout-icon{background: url(../img/layout.png) no-repeat;
display: inline-block;
cursor: pointer;}
.ui-layout-icon.arrow-right{width: 24px;
height: 24px;
background-position: 0px -61px;}
.ui-layout-icon.arrow-left{width: 24px;
height: 24px;
background-position: 0px -31px;}
.simple_layout_tit{text-align:center;font-size:25px;font-weight:bold;font-family: '微软雅黑';}